* {
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}
/* .negro {
  border-radius: solid 2px;
  border-color: red;
} */

#negroni {
  border-radius: solid 2px red;
}

.rojo {
  border-radius: solid 2px;
  border-color: blue;
}

svg {
  border: 1px dashed gray;
}

pre {
  border: 3px dashed gray;
  color: red;
}

.head {
  fill: #cd803d;
}

.mouth {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

.limb {
  stroke: #cd803d;
}

.limb2 {
  stroke: #cd803d;
  stroke-width: 35px;
  stroke-linecap: round;
}
