* {
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}
/* .negro {
  border-radius: solid 2px;
  border-color: red;
} */

#negroni {
  border-radius: solid 2px red;
}

.rojo {
  border-radius: solid 2px;
  border-color: blue;
}

svg {
  border: 1px dashed gray;
}

pre {
  border: 3px dashed gray;
  color: red;
}
