* {
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}
/* .negro {
  border-radius: solid 2px;
  border-color: red;
} */

#negroni {
  border-radius: solid 2px red;
}

.rojo {
  border-radius: solid 2px;
  border-color: blue;
}
